@charset "UTF-8";
/*!
 * Author: Eng. Ali
 */
 
body, html {
	height: 100%;
	margin: 0;
}

.bg-image {
	background-image: url("../img/bg-image-pink-shirt.jpg");
	height: calc(100% - 100px);
	min-height: 250px;
	min-width: 650px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.photo {
    float: left;
    width: 200px;
    height: 200px;
    margin-right: 15px;
    border-radius: 100%;
    border: 4px solid #fff;
}

.caption {
	position: absolute;
	margin-top: 15px;
	margin-left: 15px;
	width: calc(100% - 30px);
	min-width: 650px;
	color: #000;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

.name {
    margin-top: 50px;
    margin-bottom: unset;
}

.intro {
    margin-top: unset;
    margin-bottom: unset;
}

.social a {
    text-decoration: none;
    color: #000;
}

.social a:hover {
    text-decoration: underline;
}

.gallery-label {
	margin-top: 15px;
	margin-left: 15px;
    margin-bottom: unset;	
}

.gallery a {
    text-decoration: none;
    color: #000;
}

.gallery {
	margin-top: 15px;
	margin-left: 15px;
	float: left;
	width: 200px;
    padding: 4px;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
}

.gallery:hover {
	border: 1px solid #6c757d;
}

.gallery img {
	width: 100%;
	height: auto;
}

.view {
	text-align: center;
}