@charset "UTF-8";
/*!
 * Author: Eng. Ali
 */
 
body, html {
	font-family: Tahoma, Verdana, Segoe, sans-serif;
	height: 100%;
	margin: 0;
}

.bg-image {
	background-image: url("../img/background_photo/pink-shirt_1.jpg");
	height: calc(100% - 100px);
	min-height: 330px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.caption {
	position: absolute;
	margin-top: 15px;
	margin-left: 15px;
	width: calc(100% - 30px);
	color: #000;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.photo {
    float: left;
    width: 200px;
    height: 200px;
    margin-right: 15px;
    border-radius: 100%;
    border: 4px solid #fff;
    display: inline-block;
}

.info {
	width: calc(100% - 230px);
	display: inline-block;
}

.name {
    margin-top: 50px;
    margin-bottom: unset;
}

.intro {
    margin-top: unset;
    margin-bottom: unset;
}

.social a {
    text-decoration: none;
    color: #000;
}

.social a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 700px) {
    .photo {
        float: none;
    }

	.info {
        width: 100%;
    }

    .name {
	    margin-top: unset !important;
	}
}

/*gallery*/
.gallery-label {
	margin-top: 15px;
	margin-left: 15px;
	margin-bottom: unset;
}

.gallery-container {
	margin-left: unset !important;
	columns: 6 200px;
	column-gap: 30px;
	width: calc(100% - 40px);
	margin: 0 auto;
}

.image-link {
	margin: 15px 15px 0;
	display: inline-block;
	width: 100%;
	border: 1px solid #ddd;
	padding: 4px;
	border-radius: 4px;
	text-decoration: none;
	color: #000;
}

.image-link:hover {
	border: 1px solid #000;
}

.image-src {
	width: 100%;
	border-radius: 4px;
}

.image-view {
	margin: 4px 0;
	padding: 0;
	text-align: center;
}